<nav>
    <div class="burger">
        <div class="line"></div>
        <div class="line"></div>
        <div class="line"></div>
    </div>
    <ul class="nav-links">
        <li>@Html.ActionLink("Bejelentkezés", "Login", "User")</li>
        <li>@Html.ActionLink("Regisztráció", "Registration", "User")</li>
    </ul>
</nav>
