<nav>
    <div class="burger">
        <div class="line"></div>
        <div class="line"></div>
        <div class="line"></div>
    </div>
    <ul class="nav-links">
        <li>@Html.ActionLink("Felhasználói adatok", "ViewUserData", "User")</li>
        
    </ul>
</nav>
