body {
    background: #f1f1ff;
}

.container {
    margin: 10px 10% 0px 10%;
}

.flex {
    display: flex;
    align-content: space-evenly;
    margin: 10px 0px;
    width: 100%;
}

.flex .link-btn {
    margin: 5px;
}

.container-center {
    width: 600px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.container-center input, .container-center select {
    margin: 5px 0px 5px 0px;
    width: 100%;
}


.link-btn {
    text-align: center;
    text-decoration: none;
    display: block;
    width: 100%;
}

.field-validation-error {
    color: red;
}

.input-validation-error {
    border: 1px solid red;
}

.group {
    margin: 10px;
    width: 100%;
}

.group.border-bottom {
    border-bottom: 1px solid black;
}

.group.table-group {
    margin-top: 40px;
}

@media screen and (max-width: 768px) {
    .container {
        margin: 0px;
        margin-top: 10px;
    }

    .group {
        margin: 10px 0px;
    }
}