@model NutritionWatcher.Models.UpdateEmailViewModel
@{
    ViewBag.Title = "UpdateEmail";
}

<div>
    @using (Html.BeginForm("UpdateEmailDB", "User", null, FormMethod.Post, new { @class = "container-center" }))
    {
        <div class="group">
            @Html.LabelFor(x => x.Email)
            @Html.TextBoxFor(x => x.Email, new { @class = "input" })
            @Html.ValidationMessageFor(x => x.Email)
        </div>
        <div class="group">
            <input name="send" class="btn success" value="Módosítás" type="submit" />
        </div>
    }
</div>

