@model NutritionWatcher.Models.UpdateUsernameViewModel
@{
    ViewBag.Title = "UpdateUsername";
}

<div>
    @using (Html.BeginForm("UpdateUsernameDB", "User", null, FormMethod.Post, new { @class = "container-center" }))
    {
        <div>
            @Html.LabelFor(x => x.Username)
            @Html.TextBoxFor(x => x.Username, new { @class = "input" })
            @Html.ValidationMessageFor(x => x.Username)
        </div>

        <input name="send" class="btn success" type="submit" value="Módosítás"/>
    }
</div>

