@model NutritionWatcher.Models.ConsumptionModel
@{
    ViewBag.Title = "Delete";
}

<div>
    @using (Html.BeginForm("DeleteDataBase", "Consumption", new { id = Model.Id }, FormMethod.Post, new { }))
    {
        <h1>Biztosan törölni szeretnéd a(z) @Model.Date.ToString("yyyy-MM-dd")-i napot?</h1>
        <div>
            <input type="submit" name="send" class="" value="Törlés" />
        </div>
        <div>
            <a href="@Url.Action("ShowConsumption", "Consumption", new { id = Model.Id })">Mégse</a>
        </div>
    }
</div>

