@model NutritionWatcher.Models.ConsumptionModel
@{
    ViewBag.Title = "ShowConsumption";
}

<div>
    <ul>
        <li>@Model.Date</li>
        <li>@Model.Time</li>
    </ul>
    <div>
        @using (Html.BeginForm("Update", "Consumption", new { id = Model.Id }, FormMethod.Post, new { @class = "" }))
        {
            <input type="submit" name="send" class="" value="Módosítás" />
        }
        @using (Html.BeginForm("Delete", "Consumption", new { id = Model.Id }, FormMethod.Post, new { @class = "" }))
        {
            <input type="submit" name="send" class="" value="Törlés" />
        }
        @using (Html.BeginForm("ShowAssignments", "Consumption", new { id = Model.Id }, FormMethod.Post, new { @class = "" }))
        {
            <input type="submit" name="send" class="" value="Hozzárendelt ételek megtekintése" />
        }
    </div>
</div>

