@model  IEnumerable<NutritionWatcher.Models.ConsumptionModel>
@{
    ViewBag.Title = "ShowConsumptions";
}

<div>
    <table>
        <tr>
            <th>Dátum</th>
            <th>Idő</th>
        </tr>
        @foreach (NutritionWatcher.Models.ConsumptionModel consumption in Model)
        {
            <tr>
                <td>@Html.ActionLink(consumption.Date, "ShowConsumption", new { id = consumption.Id})</td>
                <td>@consumption.Time</td>
            </tr>
        }
    </table>
</div>

